<table class="shop_table woocommerce-checkout-review-order-table">
  <thead>
    <tr>
      <th class="product-name">Product</th>
      <th class="product-total">Total</th>
    </tr>
  </thead>
  <% @order.order_items.each do |order_items| %>
    <tbody>
      <tr class="cart_item">
        <td class="product-name">
          <%= order_items.product.name  %>              
            <%= order_items.quantity %>                         
        </td>
        <td class="product-total">
          <span class="woocommerce-Price-amount amount">
            <span class="woocommerce-Price-currencySymbol">$</span>
              <%= number_to_currency(order_items.product.price) %>
          </span>           
        </td>
      </tr>
      <tr class="order-total">
        <th>Total</th>
        <td>
          <strong>
            <span class="woocommerce-Price-amount amount">
              <span class="woocommerce-Price-currencySymbol">$</span>
                <%#= number_to_currency(order.subtotal) %>
            </span>
          </strong> 
        </td>
      </tr>   
    </tbody>
  <% end %>
</table>
