@import "bootstrap";
@import "font-awesome";

.sidebar .nav-item .nav-link span{
  font-size: 1.5rem !important;
}

.sidebar .nav-item .nav-link i{
  font-size: 2rem !important;
}

.sidebar-brand{
 font-size: 1.5rem !important;
}

.small{
  font-size: 100%;
}

.collapse-inner{
  font-size: 1.5rem !important;
}

.dropdown-menu{
  font-size: 1.5rem !important;
}
